fastapi
uvicorn
python-multipart

open-clip-torch
torch==2.2.2+cpu
torchvision==0.17.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

PyMuPDF
opencv-python
pillow
pdf2image

faiss-cpu

supabase
postgrest
storage3
realtime

boto3
pandas
regex
google-genai
python-dotenv
requests