fastapi
uvicorn
python-multipart

open-clip-torch
torch

PyMuPDF
opencv-python
pillow
pdf2image

faiss-cpu

supabase
postgrest
storage3
realtime

boto3
pandas
regex
google-genai
python-dotenv
requests